.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
}

.container h1 {
  align-self: start;
  margin-bottom: 1rem;
}

.characters-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.characters-list > a {
  width: calc(50% - .6rem);
  margin: .5rem .3rem;
  border-radius: .5rem;
  text-decoration: none;
  background-color: #000;
  cursor: pointer;
}

.characters-list li > img {
  border-radius: .5rem .5rem 0 0;
}

.info-character-container {
  width: 100%;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem;
}

.characters-list h3,
.characters-list p {
  font-size: .75rem;
  margin-bottom: .4rem;
}

.characters-list p {
  font-weight: 100;
  margin-bottom: .1rem;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pages > button {
  width: 2.5rem;
  height: 2.5rem;
  margin: .5rem;
  border: none;
  border-radius: .5rem;
  background-color: #000;
  cursor: pointer;
}

@media (min-width: 768px) {
  .characters-list > a {
    width: calc(25% - .6rem);
  }
}

@media (min-width: 1024px) {
  .characters-list > a {
    width: calc(20% - .6rem);
  }
}

@media (min-width: 1440px) {
  .characters-list > a {
    width: calc(12.5% - .6rem);
  }
}