.footer {
  width: 100vw;
  height: 100vh;
  padding: 2rem .5rem;
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: bottom;
}

.title-footer {
  text-align: center;
  padding: 0 1rem;
}

.title-footer > h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.social-links-container > a {
  text-decoration: none;
}

.social-icon {
  background-color: #d3fdc7;
  border-radius: 100%;
  margin: 1rem .5rem;
}

.portal-image {
  min-height: 15rem;
  max-height: 22rem;
  height: 100vw;
  margin: 1rem;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

@media (min-width: 500px) {
  .footer {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-footer {
    width: 70%;
  }

  .portal-image {
    width: 50vw;
    max-height: 15rem;
    height: 30vw;
    background-position-y: center;
  }
}

@media (min-width: 1024px) {

}