.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
}

.container h1 {
  align-self: start;
  margin-bottom: 1rem;
}

.locations-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.locations-list > li {
  width: calc(50% - .6rem);
  margin: .5rem .3rem;
  border-radius: .5rem;
  background-color: #000;
}

.locations-list li > img {
  border-radius: .5rem .5rem 0 0;
}

.info-location-container {
  width: 100%;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem;
}

.locations-list h3,
.locations-list p {
  font-size: .75rem;
  margin-bottom: .4rem;
}

.locations-list p {
  font-weight: 100;
  margin-bottom: .1rem;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pages > button {
  width: 2.5rem;
  height: 2.5rem;
  margin: .5rem;
  border: none;
  border-radius: .5rem;
  background-color: #000;
  cursor: pointer;
}

.showModal {
  min-width: 80vw;
  height: 80vh;
  max-height: 35rem;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  margin: auto;
  gap: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #000;
  overflow: hidden;
}

.showModal::backdrop {
  background-color: #212121;
}

.showModal button {
  cursor: pointer;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: #212121;
}

.title-location {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.residents-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  overflow-y: hidden;
  overflow-x: scroll;
}

.residents-list::-webkit-scrollbar {
  display: none;
}

.residents-list a {
  margin: .5rem .3rem;
  border-radius: .5rem;
  text-decoration: none;
  cursor: pointer;
}

.residents-list p {
  font-size: 1rem;
}

.residents-list li > img {
  height: calc(50vh - .6rem);
  max-height: 22rem;
}

@media (min-width: 768px) {
  .locations-list > li {
    width: calc(25% - .6rem);
  }
}

@media (min-width: 1024px) {
  .locations-list > li {
    width: calc(20% - .6rem);
  }

  .residents-list::-webkit-scrollbar {
    display: block;
    height: 10px;
    background-color: #212121;
    border-radius: 1rem;
  }

  .residents-list::-webkit-scrollbar-thumb {
    border: 1px solid #d3fdc7;
    background-color: #000;
    border-radius: 1rem;
  }
}

@media (min-width: 1440px) {
  .residents-list > li {
    width: calc(12.5% - .6rem);
  }
}
